

#your-page-title {
  background-color: #DBA39A;
  font-family: 'Lobster', cursive;
  text-align: center;
  margin-bottom: 0;
}

.button-in-title {
  color: #FEFCF3;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.button-in-title:hover {
  color: #F5EBE0;
  text-decoration: none;
}

.top-spacing {
  margin-top: 79px;
}

.top-spacing-small {
  margin-top: 40px;
}
