// Specific CSS for your home-page

#home-page-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#home-page-title {
  background-color: #DBA39A;
}
