// Specific CSS for your home-page

#home-page-title {
  background-color: #DBA39A;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 5px;
}

.rated-donuts-sentence {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #DBA39A;
  text-align: center;
  padding: 5px;
}

.about-us {
  font-family: 'Lobster';
  font-size: 35px;
  color: #4d312d;
  padding: 5px;
}
