// Specific CSS for your home-page

#home-page-title {
  background-color: #DBA39A;
  font-family: 'Lobster', cursive;
  text-align: center;
  padding: 5px;
}

.rated-donuts-sentence {
  font-family: 'Lobster', cursive;
  font-size: 35px;
  color: #DBA39A;
  text-align: center;
  padding: 5px;
}

.about-us {
  font-family: 'Lobster';
  font-size: 35px;
  color: #4d312d;
  padding: 5px;
}

.title-search-bar{
  font-family: 'Permanent Marker', cursive;
  color: #4d312d;
  font-size: 48px;
}


.searchbar-button{
  background-color: #4d312d;
  color: #DBA39A;
  padding: 4px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  border-radius: 10px;
  margin-left: 5px;
}

.availability-font{
  font-family: 'Permanent Marker', cursive;
  color: #4d312d;
  font-size: 28px;
}

.search-form {
  border-radius: 5px;
}
