.navbar-lewagon {
  justify-content: space-between;
  background: white;
  overflow: hidden;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.space{
  height: 100px;
  width: 100%;
}
