

<div class="d-flex justify-content-center" style="margin-top: 200px">
  <div class="card big-white-container">
    <div style="width: 500px;">
      <%= render "form", donut: @donut, review: @review %>
    </div>
  </div>
</div>
